:root {
  /* Box-sizing: border-box; */
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);

  --main-background-color: #292E32;
  --secondary-background-color: #777;
  --main-text-color: #FFFFFF;
  --secondary-text-color: #BBB;

  --main-button-color: #007AFF;
  --secondary-button-color: #777;
  background-color: var(--main-background-color);

  /*fontsizes*/
  --fs-xl: 6rem; 
  --fs-600: 2.5rem;
  --fs-500: 2rem;
  --fs-400: 1.5rem;

}



/* 
body {
  margin: 1rem;
  background-color: orange;
} */

h1 {
  color: #FFF;
  font-size: var(--fs-xl);
  text-align: left;
  min-height: 3.25rem;
  padding: 1.25rem;

}

p {
  color: var(--secondary-text-color);
  font-size: var(--fs-600);
  padding: 1.25rem;
  /* margin: 1.25rem; */

}

button {
  display: flex;
  height: var(--fs-xl);
  justify-content: center;
  align-items: center;
  margin: 20px 8px;
  cursor: pointer;
  
  max-width: 60%;

  color: var(--main-text-color);
  font-size: var(--fs-600);
  font-weight: 600;

  border: 0px;
  border-radius: 14px;
  padding: 1.25rem;
  
  background: var(--main-button-color);
}

/* .button-main {
  
 
} */

.button-secondary {
  background: var(--main-background-color);
  border-color: var (--main-button-color);
  border: solid 2px;
  width: 30%;
}

.button-container {
  display: flex;
  flex-direction: row;
}


.card {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 280px;
  max-height: 330px;
  background-color: var(--secondary-background-color);
  border-radius: 10px;
  box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.08),
    -4px -4px 12px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
  margin: 8px;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
}

.card-image-container {
  width: 100%;
  height: 64%;
  border-radius: 10px;
  margin-bottom: 12px;
  overflow: hidden;
  /* background-color: rgb(165, 165, 165); */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-background-color);
}

.card-title {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  background-color: var(--secondary-background-color);
  color: var(--main-text-color);
}

.list-items {
  /* Define the list layout, spacing, and styles */
  list-style: none; /* Remove default list styling */
  padding: 20px; /* Remove default padding */
  margin: auto; /* Remove default margin */
  width: 60%;
  display: block;
  
}

/* CSS for each list item */
.item {
  /* Define display and layout styles */
  display: flex;
  align-items: center;
  gap: 10px; /* Space between elements inside the item */
  padding: 10px 16px; /* Padding inside the item */
  margin: 10px;
  border-radius: 8px; /* Rounded corners for the item */
  border: 2px solid var(--secondary-button-color); /* Grey border for the item */
  cursor: pointer; /* Pointer cursor on hover */
  height: 54px;
  
  /* Define hover effect for each item */
  transition: border 0.3s; /* Smooth transition for border color change */
  &:hover {
      border: 2px solid var(--main-button-color); /* Change border color to blue on hover */
  }
}

.item.active {
  border-color: var(--main-button-color);
}

.item.active .checkbox{
  background-color: var(--main-button-color);
  border-color: var(--main-button-color);
}

.item.active .check-icon{
  background-color: var(--main-button-color);
  transform: scale(1);
}

/* CSS for the text inside each list item */
.item-text {
  /* Define text styles */
  color: #FFF; /* Text color */
  font-size: 16px; /* Text size */
  line-height: normal; /* Line height */
}

.checkbox {
  /* Define the size of the circle */
  width: 24px;
  height: 24px;
  
  /* Make the element circular */
  border-radius: 50%;
  
  /* Add a grey border with 2px thickness */
  border: 2px solid var(--secondary-button-color);
  
  /* Display settings */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  
}

.check-icon {
  transform: scale(0);
}

tr:nth-child(even) {
  background-color: #eee;
}

td:first-child {
  font-weight: bold;
}

td {
  white-space: nowrap;
  padding: 10px;
  margin-right: 1rem;
}

/* 

#logged-in {
  display: none;
} */