:root{
  
  /* Color Variables */
  --black-600: #000;
  --white-600: #FFF;
  --white-500: #ffffffdf; 

  --primary-color-600: #1D3557;
  --primary-color-500: #1E4670;

  --secondary-color-600:#D1D5DB;

  --success-color: #A8E063;
  --alert-color: #FF6B6B;

  background-color: var(--black-600);

  /* Geometry Variables desktop */
  --fs-xl: 32px; 
  --fs-600: 20px;
  --fs-500: 16px;
  --fs-400: 14px;

  --marging-600: 10rem;
  --maring-400: 1rem;
  
  /*Font related Styles*/
  color: var(--white-600);
  font-family: 'Roboto', sans-serif;

}

@media (width < 400px) {
  :root{
   --fs-xl: 24px; 
   --fs-600: 18px;
   --fs-500: 16px;
   --fs-400: 14px;

  --marging-600: 10rem;
  --maring-400: 1rem;
  }
}

/* * {
  outline: 1px solid #f00 !important;
  
} */

.picture-button{
  height: 24px;
  /* margin: auto; */
}

.burger-menu{
  height: var(--fs-400);
  width: var(--fs-400); 
  margin: var(--fs-400);
  cursor: pointer;
  background-color: black;
}
 
.title-image{
  max-width: 80vw;
  max-height: 60vh;
  margin-left:-10px;
  margin-top:50px;
  margin-bottom: 50px;
}

.title{
  font-size: var(--fs-600);
  margin: var(--maring-400);
}

p{
  font-size: var(--fs-400);
  color: var(--white-500);
  margin: var(--maring-400);
}


button{
  /* margin-left: 16px;
  margin-right: 16px; */
  margin: auto;
  margin-top: 9px;
  margin-bottom: 9px;
  background-color: var(--primary-color-600);
  /* background-color: white; */
  /* color: black; */
  color: var(--white-600);
  border-radius: 14px;
  border: 0px;
  height: 40px;
  min-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.primary-button{
  height: 40px;
}

.secondary-button{
  background-color: var(--black-600);
  color: var(--white-600);
  border: solid 2px;
  border-color: var(--primary-color-600);
}

button:hover{
  background-color: var(--primary-color-500);
}

.button-text{
  margin-right: 8px;
}

input{
  margin:auto;
  display: flex;
  color: grey;  
}
.success-border{
  margin: 20px;
  padding: 20px;
  border: 2px solid;
  border-radius: 8px;
  border-color: var(--success-color);
  text-align: center;
}

.message-content{
  margin: auto;
 }

.about-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile-image{
  max-width: 8rem;
  border-radius: 4rem;
  margin: var(--maring-400);
}

a {
  color:var(--white-500);
  margin-left: 1rem;
  margin-right: 1rem;
}